.text-white {
    
    color: #fff!important;
    text-shadow: 10px 2px 5px rgba(0,0,0,0.12), 0 3px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#Home{
   height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
     
}
